.container {
  width: 90vw;
  min-height: 100vh;

  .search {
    margin: 1.2rem;
    width: 50%;
  }

  .wrapper {
    height: 100%;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .chat {
      width: 70%;
      height: 30%;
      min-height: 30%;
      padding: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .chat__header {
        display: flex;
        gap: 0.8rem;
        align-items: center;
      }

      .chat__email {
        display: flex;
        gap: 0.6rem;
        align-items: center;
      }
    }
    .chat__footer {
      display: flex;
      gap: 0.6rem;
      align-items: center;
    }
  }
}